<div class="panel search-panel">

    <div class="container">
        <div class="row">
            <div class="col s60">
                <div class="card-panel center-align black-text">
                    <a name="search"><h1 class="light-blue-text">بیابید و سرمایه گذاری کنید!</h1></a>

                    <h3>جست و جوی پیشرفته در اولین سایت تخصصی تبلیغات سرمایه گذاری</h3>
                    <form class="form-horizontal" role="form" method="GET" action="#">

                        <div class="row">
                            <div class="input-field col s60 m30 offset-m15">
                                <input id="icon_prefix" type="text" name="s" placeholder="عبارت مورد نظر را جست و جو کنید!">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col s20">
                                <div class="input-field col s60 toppad">

                                    <select multiple class="search-dropdown">

                                        <option value="" disabled selected>موقعیت طرح</option>
                                        <option value="" disabled selected>استان  یزد</option>
                                        <option value="30">یزد</option>



                                    </select>
                                    <br><br>
                                    <div class="col s20 toppad">
                                        حداقل مالیات
                                    </div>
                                    <div class="col s40 botpad">
                                        <p class="range-field">
                                            <input name="tax_rate_min" type="range" id="test5" min="0" value="0" max="100" />
                                        </p>
                                    </div>
                                    <div class="col s20 toppad">
                                        حداکثر مالیات
                                    </div>
                                    <div class="col s40 botpad">
                                        <p class="range-field">
                                            <input name="tax_rate_max" type="range" id="test5" min="0" value="100" max="100" />
                                        </p>

                                    </div>

                                </div>

                            </div>
                            <div class="col s20">
                                <div class="col s60">
                                    <h3>سرمایه مورد نیاز (تومان)</h3>
                                    <div class="input-field col s60">
                                        <div class="col s20 toppad">
                                            حداقل
                                        </div>
                                        <div class="col s40 botpad">
                                            <input id="icon_prefix" name="amount_min" value="0" type="number">
                                        </div>
                                    </div>
                                    <div class="input-field col s60">
                                        <div class="col s20 toppad">
                                            حداکثر
                                        </div>
                                        <div class="col s40 botpad">
                                            <input id="icon_prefix" name="amount_max" type="number">
                                        </div>
                                    </div>

                                </div>
                                <div class="col s60 toppad">
                                    <h3>زمان پیش بینی شده سود دهی (ماه)</h3>
                                    <div class="input-field col s30">

                                        <div class="col s20 toppad">
                                            حداقل
                                        </div>
                                        <div class="col s40 botpad">
                                            <input id="icon_prefix" name="interest_time_min" value="0" type="number">
                                        </div>
                                    </div>
                                    <div class="input-field col s30">

                                        <div class="col s20 toppad">
                                            حداکثر
                                        </div>
                                        <div class="col s40 botpad">
                                            <input id="icon_telephone" name="interest_time_max" value="" type="number">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col s20">
                                <div class="input-field col s60 toppad">
                                    <select name="category">
                                        <option value="" disabled selected>دسته بندی</option>



                                        <option value="2">کشاورزی</option>


                                    </select>

                                    <br><br>
                                </div>
                                <div class="col s20 toppad">
                                    حداقل سود
                                </div>
                                <div class="col s40 botpad">
                                    <p class="range-field">
                                        <input type="range" name="interest_rate_min" id="test5" min="0" value="0" max="500" />
                                    </p>
                                </div>
                                <div class="col s20 toppad">
                                    حداکثر سود
                                </div>
                                <div class="col s40 botpad">
                                    <p class="range-field">
                                        <input type="range" name="interest_rate_max" id="test5" min="0" value="500" max="500" />
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="row toppad">
                            <br>
                            <button class="btn waves-effect waves-light" type="submit" name="action">جستجو کن
                                <i class="zmdi zmdi-search left"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<footer class="page-footer bluebox blue white-text footer-contains-search">
    <div class="container footcontainer">
        <div class="row">
            <div class="col s60 l20">
                <h2 class="white-text">بخش های حامی طرح</h2>
                <ul>


                    <li><a class="blue-grey-text text-lighten-4" href="http://sarmayedari.ir/">صفحه نخست</a></li>
                    <li><a class="blue-grey-text text-lighten-4" href="http://sarmayedari.ir/">قوانین سایت</a></li>
                    <li><a class="blue-grey-text text-lighten-4" href="http://sarmayedari.ir/">مشاوره (بزودی)</a></li>
                    <li><a class="blue-grey-text text-lighten-4" href="http://sarmayedari.ir/">تعرفه طرح</a></li>
                    <li><a class="blue-grey-text text-lighten-4" href="http://sarmayedari.ir/">درباره ما</a></li>
                    <li><a class="blue-grey-text text-lighten-4" href="http://sarmayedari.ir/">تماس با ما</a></li>

                </ul>
            </div>
            <div class="col l30 s60 left">
                <h2 class="white-text">خبرنامه</h2>
                <p>
                    برای عضویت در خبرنامه حامی طرح ایمیل خود را وارد کنید.
                </p>
                <form method="POST" action="http://sarmayedari.ir/">
                    <input type="hidden" name="_token" value="nkSeL8O0Zli6pRL1IysQjQ99fAEkMfI3EbM8qje7">
                    <input id="email" name="email" type="email" class="validate col s30" required="" placeholder="ایمیل شما">
                    <button type="submit" name="subscribe" class="waves-effect waves-light btn white blue-text col s20 offset-s2">عضویت در خبرنامه</button>
                </form>
            </div>
            <div class="col l10 s60">

                <p class="grey-text text-lighten-4">

                </p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            تمام حقوق این سایت متعلق به نخستین وبسایت تخصصی تبلیغات سرمایه گذاری (حامی طرح) می باشد.
            <a class="grey-text text-lighten-4 left" href="http://sarmayedari.ir/#!" />
        </div>
    </div>
</footer>
