{% load static %}
<header class="fixed" style="">
    <div class="row page-header" style="margin: 0">
        <div class="col s60">
            <div class="row">
                <div class="col l35 m45 s60">


                        <div class="pic rounded right">
                            <img class="logo"  src="{% static 'mainapp/img/logo.png' %}">
                        </div>



                    <div class="col s40 logotext">

                        <h2 class="blogname" href="/">وبسایت حامی طرح</h2>
                        <h4 class="blogdesc">نخستین سامانه آنلاین جذب سرمایه</h4>




                    </div>




                </div>
                <div class="col l25 m15">
                    <div class="topnav">

                    {% if user.is_authenticated %}
                        <a class="waves-effect waves-light btn white blue-text" href="{% url 'my:create_ad' %}"><i class="zmdi zmdi-plus-square" style="font-size:16px;"></i>  ثبت رایگان طرح </a>



                        <a class="waves-effect waves-light btn white blue-text" href="{% url 'my:panel' %}"><i class="zmdi zmdi-account" style="font-size:16px;"></i> پنل کاربری </a>

                        <a class="waves-effect waves-light btn white blue-text" href="{% url 'authentication:logout' %}"><i class="zmdi zmdi-power-off" style="font-size:16px;"></i> خروج </a>


                    {% else %}
                        <a class="waves-effect waves-light btn white blue-text" href="{% url 'my:create_ad' %}"><i class="zmdi zmdi-plus-square" style="font-size:16px;"></i>  ثبت رایگان طرح </a>

                        <a class="waves-effect waves-light btn white blue-text" href="{% url 'authentication:register' %}"><i class="zmdi zmdi-account-add" style="font-size:16px;"></i> عضویت رایگان </a>

                        <a class="waves-effect waves-light btn white blue-text" href="{% url 'authentication:login' %}"><i class="zmdi zmdi-sign-in " style="font-size:16px;"></i> ورود </a>



                    {% endif %}

                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="row center-align z-depth-1 white">











        <div class="navigation center">
            <div class="navbar-paydar">
        <span class="nav-menu">
        <a class="waves-effect waves-light btn btn-flat black-text paydar-btn" href="/"><i class="zmdi zmdi-home" > </i> صفحه نخست </a>
    <a class="waves-effect waves-light btn btn-flat black-text paydar-btn" href=""><i class="zmdi zmdi-assignment" style="font-size: 18px"> </i> بلاگ </a>
        <a class="waves-effect waves-light btn btn-flat black-text paydar-btn" href=""><i class="zmdi zmdi-alert-circle"> </i> قوانین سایت </a><!-- white blue-text -->
    <a class="waves-effect waves-light btn btn-flat black-text paydar-btn" href="#"><i class="zmdi zmdi-comment-text"> </i> مشاوره (بزودی) </a>
        <a class="waves-effect waves-light btn btn-flat black-text paydar-btn" href=""><i class="zmdi zmdi-money" style="font-size: 18px"> </i> تعرفه ثبت طرح </a>
    <a class="waves-effect waves-light btn btn-flat black-text paydar-btn" href=""><i class="zmdi zmdi-info"> </i> درباره ما </a>
    <a class="waves-effect waves-light btn btn-flat black-text paydar-btn" href=""><i class="zmdi zmdi-phone" > </i> تماس با ما </a>

    </span>



            </div>


        </div>

    </div>
    <div class="colapsible-menu">
        <ul class="collapsible white" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><i class="zmdi zmdi-menu"></i>منوی سایت</div>
                <div class="collapsible-body">
                    <div>
                        <a class="waves-effect waves-light btn btn-flat black-text" href="/"><i class="zmdi zmdi-home"></i> صفحه نخست </a>
                    </div>
                    <div>
                        <a class="waves-effect waves-light btn btn-flat black-text center center-block" href="/blog"><i class="zmdi zmdi-assignment"></i> بلاگ </a>
                    </div>
                    <div>
                        <a class="waves-effect waves-light btn btn-flat black-text" href="/rules"><i class="zmdi zmdi-alert-circle"></i> قوانین سایت </a><!-- white blue-text -->
                    </div>
                    <div>
                        <a class="waves-effect waves-light btn btn-flat black-text" href=""><i class="zmdi zmdi-comment-text"></i> مشاوره (بزودی) </a>
                    </div>
                    <div>
                        <a class="waves-effect waves-light btn btn-flat black-text" href="/pricing"><i class="zmdi zmdi-money"></i> تعرفه ثبت طرح </a>
                    </div>
                    <div>
                        <a class="waves-effect waves-light btn btn-flat black-text" href="/about"><i class="zmdi zmdi-info"></i> درباره ما </a>
                    </div>
                    <div>
                        <a class="waves-effect waves-light btn btn-flat black-text" href="/contact"><i class="zmdi zmdi-phone "></i> تماس با ما </a>
                    </div>
                    <div class="divider"></div>
                    <div class="center">

                     {% if user.is_authenticated %}
                        <a class="waves-effect waves-light btn white blue-text" href="{% url 'my:create_ad' %}"><i class="zmdi zmdi-plus-square" style="font-size:16px;"></i>  ثبت رایگان طرح </a>



                        <a class="waves-effect waves-light btn white blue-text" href="{% url 'my:panel' %}"><i class="zmdi zmdi-account" style="font-size:16px;"></i> پنل کاربری </a>

                        <a class="waves-effect waves-light btn white blue-text" href="{% url 'authentication:logout' %}"><i class="zmdi zmdi-power-off" style="font-size:16px;"></i> خروج </a>


                    {% else %}
                        <a class="waves-effect waves-light btn white blue-text" href="{% url 'authentication:register' %}"><i class="zmdi zmdi-account-add" style="font-size:16px;"></i> عضویت رایگان </a>

                        <a class="waves-effect waves-light btn white blue-text" href="{% url 'authentication:login' %}"><i class="zmdi zmdi-sign-in" style="font-size:16px;"></i> ورود </a>

                        <a class="waves-effect waves-light btn white blue-text" href="{% url 'my:create_ad' %}"><i class="zmdi zmdi-plus-square" style="font-size:16px;"></i>  ثبت رایگان طرح </a>

                    {% endif %}
                    </div>

                </div>
            </li>

        </ul>
    </div>

</header>
