{% extends 'mainapp/base.html' %}
{% load static %}
{% load to-slash %}
{% load jalali_tags %}
{% block content %}
    {% block large_header %}
        {% include 'mainapp/main_header.html' %}
    {% endblock %}
    <style>
        .more-detail-accordion .collapsible-header i {
            position: relative;
            top: 8px;
        }
    </style>
<main class="front container center row" style="margin-top: -30px">

    <div class="row black-text">
        <div class="container col l60 s60">
            <div class="col s60 l60">

                <div class="circle profile-pic z-depth-1 white center center center-block" style="width: 150px; height: 150px;">
                    <img class="activator2 circle center" src="{% static 'mainapp/img/grey.png' %}">
                </div>

                <div class="card-panel input-field">
                    <br>
                    <br><br>
                    <span class="detail">
                        <h1 class=" center-align"> {{ ad.title }} </h1>
                    </span>
                    <br><br>
                    <div class="row">
                        {% if user.is_superuser or user.isInvestor %}
                            {% include 'mainapp/premium_ad_details_icons.html' %}
                        {% else %}
                            {% include 'mainapp/general_ad_details_icons.html' %}
                        {% endif %}
                    </div>
                    <br>
                    <br>

                    <span class="detail">
                        <i class="zmdi zmdi-more-horiz zmdi-hc-2x"></i>
                        <div class="row">
                            <div class="col l50 offset-l5">
                                <p type="text" class="commify center-align" style="text-align: justify">
                                    {{ ad.summary }}
                                </p>
                            </div>

                        </div>
                        </span>
                    <br>
                </div>
            {% if ad.images  %}
            <div class="card-panel input-field">
                <div class="row">

                <div class="col l60 s60">

                    <div class="row">
                        <h2 class="">تصاویر طرح</h2>
                        <div class="center-block">
                            <br>
                            <img class="materialboxed center-block" src="{{ ad.images.url }}" height="200px">
                            <br>
                        </div>
                    </div>
                </div>




                </div>

            </div>
            {% endif %}
            {% if user.is_superuser or user.isInvestor %}
            {% include 'mainapp/more_detail.html' %}
            {% endif %}
            </div>
        </div>
    </div>

</main>




    {% block footer %}
{% include 'mainapp/footer.html' %}
{% endblock %}

{% endblock %}
